/* fonts */

@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
}


/* colors */

@color-burn: #f00;
@color-red: #933;
@color-pink: #903;
@color-white: #fff;
@color-black: #000;
@color-gray: #666;
@color-gray-light: #ccc;
.color-red {
    color: @color-red;
}


/* general reset */

html, body {
    font-size: 14px;
    font-family: Gotham Book, verdana, arial;
}

h1 {
    font-size: 2.6666rem;
}

h2 {
    font-size: 1.6666rem;
    color: @color-gray;
}

h3 {
    font-size: 1.3333rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

strong {
    font-family: Gotham Medium, verdana, arial;
}

ul, ul li {
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

.btn {
    border-radius: 0;
    font-size: 1.125rem;
}

.btn-danger, .btn-danger:hover {
    background: @color-pink;
}

.fa {
    color: @color-gray;
}

.fg-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/* menu */

#brand {
    height: 150px;
    position: relative;
    margin-top: 30px;
}

#nav {
    border-radius: 0;
}

#nav li a, #nav nav a:hover {
    color: @color-burn;
    text-shadow: none;
    background: transparent;
}

#nav .navbar-header {
    cursor: pointer;
}

#nav .text {
    font-size: 1.7rem;
}

#nav .navbar-toggle {
    float: none;
}

#nav .navbar-toggle .icon-bar {
    color: @color-white;
    border: 1px solid;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#nav.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: @color-black;
}


/* home */

#home {
    position: relative;
    color: @color-white;
    background: @color-black;
    h1 {
        font-family: Gotham Light, verdana, arial;
        display: block;
        z-index: 2;
        position: relative;
    }
    .register {
        padding: 0 0 1em 0;
    }
    .countdown {
        font-size: 3rem;
        background: @color-red;
        color: @color-white;
    }
    .countdown>div {
        display: inline-block;
        margin: 1.5rem 1rem;
    }
    .countdown .unit {
        font-size: 0.875rem;
    }
}


/* info */

#info {
    position: relative;
    overflow: hidden;
    h1, h3 {
        color: @color-red;
    }
    p {
        font-family: Gotham Light, verdana, arial;
    }
    .time-local>div>div {
        margin: 4rem 0;
    }
    .details {
        padding-top: 3%;
        &, h3 {
            color: @color-white;
        }
        .fg-text {
            text-align: left;
        }
    }
}


/* race day */

#race-day {
    padding: 1rem 0 2rem;
    background: @color-red;
    &, h2, .fa {
        color: @color-white;
    }
    h3 {
        margin: 2rem 0;
    }
    .vcenter {
        display: inline-block;
        vertical-align: bottom;
        height: 3rem;
        float: none;
    }
}


/* course */

#course {
    padding: 2rem 0;
    .btn {
        margin: 20px auto;
    }
    .map {
        position: relative;
        i {
            position: absolute;
            border-radius: 50%;
            padding: .63em .55em .57em .65em;
            background-color: rgba(0, 0, 0, 0.4);
            color: @color-white;
            top: 40%;
            left: 40%;
        }
        img {
            width: 100%;
        }
    }
}


/* t shirt */

#shirt {
    padding: 2rem 0;
    background: @color-gray;
    color: @color-white;
    position: relative;
    h2 {
        color: @color-white;
    }
    .carousel {
        .carousel-inner {
            text-align: center;
            margin-bottom: 2rem;
            img {
                display: inline-block;
                width: 80%;
            }
            .sizes span {
                margin: 0 1rem;
            }
        }
        .carousel-indicators {
            bottom: -3rem;
            li {
                padding: 0.3rem;
                border-radius: 50%;
            }
        }
        .carousel-control {
            background: none;
        }
        .fa {
            color: @color-white;
            position: absolute;
            top: 40%;
            z-index: 5;
            display: inline-block;
        }
    }
    .carousel-indicators li {
        margin: 0 0.5rem;
    }
}


/* faq */

#faq {
    padding: 2rem 0;
    ul li {
        font-size: 1.5rem;
        line-height: 3rem;
        a, .fa {
            color: @color-red;
        }
        p {
            text-indent: 1.2rem;
        }
    }
}


/* about-us */

#about-us {
    position: relative;
    .content {
        color: white;
        margin-top: 20%;
        strong, a {
            color: @color-burn;
        }
    }
}


/* contact-us */

#contact-us {
    padding: 2rem 0;
    .social-icons {
        color: @color-gray-light;
    }
    .captcha {
        width: 100%;
    }
    .captcha-status {
        font-size: 1.2rem;
    }
}


/* sponsors */

#sponsors {
    padding: 2rem 0 4rem;
    background: @color-gray-light;
}


/* footer */

#footer {
    .btn {
        position: fixed;
        bottom: 0;
        right: 0;
        border: none;
        padding: 0.5rem 5rem;
        background: url(../images/footer-btn.png) no-repeat;
        background-size: cover;
    }
}


/* responsive adjustments */

@media (min-width: 768px) {
    html, body {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html, body {
        font-size: 18px;
    }
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    html, body {
        font-size: 24px;
    }
    .container {
        width: 1170px;
    }
}

@media (min-width: 1600px) {
    html, body {
        font-size: 30px;
    }
    .container {
        width: 1480px;
    }
}