/* general */
* {
	/* fix the chrom affix problem*/
    // box-sizing:content-box;
}
section.container-fluid{
	padding-left:0;
	padding-right:0;
}
// .no-gutter [class*="col-"]:first-child  {
// 	padding-left:0;
// }

// .no-gutter [class*="col-"]:last-child {
// 	padding-right: 0;
// }

body {
	font-size: 1.2rem;
}

/* menu */
#brand.well {
	height:150px;
}
#nav li a {
	color: #f00;
}
#nav .navbar-toggle {
	// float: none;
}
#nav .navbar-toggle .icon-bar{
	color: #fff;
	border: 1px solid;
}
#nav.affix {
	position: fixed;
	top: 0;
	z-index: 200;
}

/* home */
#home {
	position: relative;	
	background: #000;
	color: #fff;
}
#home h1 {
	font-size: 5rem;
	display: block;
	z-index: 2;
}
#home .hero {
	z-index: 0;
}
#home .register {
	padding: 1em 0;
}
#home .countdown {
	font-size: 3rem;
	background:#f00;
	color: #fff;
}
#home .countdown>div {
	display: inline-block;
	margin: 22px 1em;
}
#home .countdown .unit{
	font-size: 1.2rem;
}

/* info */
#info {
	position relative;
}
#info .time-local {
	padding: 70px 0;
}
#info .details {
	color: #fff;
	background-image: url(images/info-01.jpg);

}
/* race day */
#race-day {
	background: #f00;
	color: #fff;
}

/* course */
#course .btn {
	margin: 20px auto;
}

/* shirt */
#shirt {
	background: #666;
	color: #fff;
}
#shirt .carousel-inner {
	width: 80%;
	margin: 0 auto;
}
#shirt .carousel-control {
	background: none;
}

/* about-us */
#about-us {
	position: relative;
}
#about-us .content {
	position: absolute;
	top:150px;
	color: white;
	z-index: 2;
}
/* sponsors */
#sponsors {
	background: #eee;
	padding-bottom: 150px;
}

/* footer */
#footer {
	position: fixed;
	bottom: 0;
	right: 0;
}